/*---------------------------------------------*\
    $COLORES
\*---------------------------------------------*/
/*---------------------------------------------*\
    $FUENTES    
\*---------------------------------------------*/
/**********************************************\
    $RESETS
\**********************************************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/**********************************************\
    $HELPERS
\**********************************************/
.container {
  -webkit-padding-start: 22px;
          padding-inline-start: 22px;
  -webkit-padding-end: 22px;
          padding-inline-end: 22px;
}

.estadisticas {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.2);
}

/**********************************************\
    $HEADERS
\**********************************************/
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 46px auto 46px 1fr;
  grid-template-columns: repeat(2, auto) 1fr;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  -webkit-padding-after: 13px;
          padding-block-end: 13px;
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: #EBEBEB;
}
.header__container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
}
.header__search-icon {
  font-size: 22px;
  color: #8841da;
}
.header__search {
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3f579a;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

/**********************************************\
    $NAVS
\**********************************************/
.navegacion {
  height: 100%;
  -webkit-padding-before: 18px;
          padding-block-start: 18px;
}
.navegacion ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@supports (gap: 20px) {
  .navegacion ul {
    gap: 16px;
  }
}
.navegacion .navegacion__enlace--white, .navegacion .navegacion__enlace--blue {
  -webkit-margin-end: 38px;
          margin-inline-end: 38px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.navegacion__enlace--blue {
  color: #3f579a;
}
.navegacion__enlace--white {
  color: #fff;
}

/**********************************************\
    $LOGOS
\**********************************************/
.logo--header {
  height: 83px;
  width: 332px;
}

.logo--footer {
  height: 67.5px;
  width: 270px;
}

/**********************************************\
    $AVATARS
\**********************************************/
.avatar img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/**********************************************\
    $BOTONES
\**********************************************/
.btn--redondo {
  display: inline-block;
  padding: 5px;
  -webkit-padding-start: 23px;
          padding-inline-start: 23px;
  -webkit-padding-end: 23px;
          padding-inline-end: 23px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.btn--redondo {
  border-radius: 30px;
}

.estadisticas {
  width: 50%;
  max-width: 350px;
  min-width: 280px;
  padding: 14px;
  -webkit-padding-before: 14px;
          padding-block-start: 14px;
  -webkit-padding-after: 14px;
          padding-block-end: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.estadisticas h3 {
  white-space: pre-line;
  color: #333333;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
.estadisticas span {
  opacity: 0.5;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.estadisticas span:before {
  content: "\a";
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 60px;
          padding-block-start: 60px;
  background-color: #8841da;
}
.perfil .perfil__name, .perfil .perfil__of-me {
  color: #fff;
  font-size: 1.5625rem;
  line-height: 2.34375rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil .perfil__profesion, .perfil .perfil__hobby {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__container-btn {
  -webkit-margin-before: 14px;
          margin-block-start: 14px;
}
.perfil__of-me {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}