.perfil{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 60px;
    background-color: $color-secundario;
    &__name{
        color: $color-claro;
    }
}