/**********************************************\
    $HEADERS
\**********************************************/
.header{
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    column-gap: 46px;
    height: 90px;
    border-block-end-width: 1px;
    border-block-end-style: solid;
    border-block-end-color: #EBEBEB;
    
    &__container-search{
        display: flex;
        gap: 10px;
        margin-inline-start: auto;
        padding-block-start: 36px;
    
    }
    
    &__search-icon{
        font-size: 22px;
        color: $color-secundario;
    }

    &__search{
        text-transform: uppercase;
        font-weight: 700;
        color: $color-variacion;
        @include font-size(18px);
    }
    
}