
.navegacion{
    height: 100%;
    padding-block-start: 18px;
    
    ul{
        height: inherit;
        display: flex; 
        align-items: center;
        @supports (gap: 20px){
            gap: 16px;
        }
    }
    
    %vinculo{
        margin-inline-end: 38px;
        font-family: $fuente-secundario;
        text-transform: uppercase;
        font-weight: 700;
        @include font-size(18px);
        
    }
    &__enlace--blue{
        @extend %vinculo;
        color: $color-variacion;
    }
    &__enlace--white{
        @extend %vinculo;
        color: $color-claro;
    }
}