/**********************************************\
    $NAVS
\**********************************************/
%navegacion{
    height: 100%;
    
    ul{
        height: inherit;
        display: flex; 
        @supports (gap: 20px){
            gap: 16px;
        }
    }
    
    a{
        margin-inline-end: 38px;
        font-weight: 700;
        @include font-size(18px);
        @include titulos($fuente-secundario);
        
    }
}
.navegacion--header{
    @extend %navegacion;
    padding-block-start: 38px;
    &__enlace{
        color: $color-variacion;
    }
    
}
.navegacion--footer{
    @extend %navegacion;
    padding-block-start: 32px;

    &__enlace{
        color: $color-claro;
    }
}
