.estadisticas {
  @extend %caja;
  margin-top: 20px;
  padding: 14px;
  display: flex;
  justify-content: space-around;
  column-gap: 20px;

  h2 {
    white-space: pre-line;
    color: $color-primario;
    text-align: center;
    @include font-size(20px);
    @include titulos($fuente-secundario);
    line-height: 1;
  }
  span {
    opacity: 0.5;
    @include font-size(12px);
  }
  span:before {
    content: "\A";
  }
}
