/*---------------------------------------------*\
    $COLORES
\*---------------------------------------------*/

//Color Primario
$color-primario: #333333;

//Color Secundario
$color-secundario: #8841da;

//Color dark blue
$color-variacion: #3f579a;

//Color Claro
$color-claro: #fff;

/*---------------------------------------------*\
    $FUENTES    
\*---------------------------------------------*/

//Fuente Principal
$fuente-primario: "Lato", sans-serif;

//Fuente Seduncaria
$fuente-secundario: "Oswald", sans-serif;
